*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*

*JLinkLog.txt
*.jdebug
*.jdebug.*


*.axf
*.exf
*.elf

#keil 工程配置文件
*.uvoptx
*.uvguix.*
*.mxproject
*.uvguix

# 输出文件
infantry/
# keil debug配置文件
DebugConfig/

infantry.uvoptx
!.vscode/








